.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.input-name {
  margin-bottom: 5.5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #2D3748;
}
.input {
  padding: 15.25px 20px;
  background-color: #FFFFFF;
  border: 1px solid #E2E8F0;
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;
  width: 100%;

  &:focus {
    z-index: 1;
    border-color: rgb(49, 130, 206);
    box-shadow: rgb(49, 130, 206) 0px 0px 0px 1px;
  }
}