.sign-up__form-section {
  max-width: 440px;
  width: 100%;
  transform: translateY(-290px);
  padding:0 25px;
  margin: 66px auto 0;
}
.sign-up__form-section-wrapper {
  background-color: #fff;
  padding: 45px 51px;
  box-shadow: 0px 7px 23px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.sign-up__form-title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #2D3748;
}
.sign-up__with-social {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.sign-up__with-social-item {
  margin-right: 15px;
  
  &:last-child { 
    margin-right: 0;
  }
}
.sign-up__with-social-link {
  border: 1px solid #E2E8F0;
  border-radius: 15px;
  padding: 22px;
  display: block;
  background-color: #fff;
  transition: ease all 0.3s;

  &:hover {
    background-color: #81E6D9;
    border-color: transparent;
  }
  
  & > svg {
    width: 31px;
    height: 31px;
    display: block;
  }
}
.sign-up__span {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #A0AEC0;
  text-transform: lowercase;
}

.sign-up__form {
  margin-top: 17px;
  & > label {
    margin-bottom: 24px;
  }
} 
.sign-up__btn {
  margin-top: 24px;
}
@media only screen and (max-width: 550px) {
  .sign-up__form-section-wrapper {
    padding: 40px;

  }
}
@media only screen and (max-width: 400px) {
  .sign-up__with-social-link {
    padding: 15px;
  }
}
@media only screen and (max-width: 380px) {
  .sign-up__form-section {
    padding-inline: 0;
  }
  .sign-up__form-section-wrapper {
    padding: 25px;
  }
}
